@import './vars'

#danger-calendar
  min-width: 300px
  min-height: 300px
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  user-select: none
  .danger-days-container
    height: calc(100% - 96px)
    .danger-table-header
      width: 100%
      display: flex
      align-items: center
      justify-content: space-between
      .danger-day-of-week
        font-weight: light
        width: 100%
        display: flex
        justify-content: flex-end
        padding: 0 10px 10px 10px
      .danger-day-of-week-end
        color: $weekEndText
