@import './vars'

#danger-calendar
  min-width: 300px
  min-height: 300px
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  user-select: none
  .danger-days-container
    height: calc(100% - 96px)
